<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Document</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
            <div class="col-10">

            </div>
            <div class="d-flex col-2">
               
                <a href="../user/logout" class="btn btn-light ms-3">Logout</a>
            </div>
    </div>
</nav>
<div class="container">
    <div class="d-flex p-2 d-flex justify-content-center h-50 align-middle">
    <div class="card w-50">
        <div class="card-header">Product #<%=product[0].id%></div>
        <div class="view overlay">
            <img src="../images/uploads/<%=product[0].image%>" class="card-img-top" alt="<%=product[0].image%>">
            <a href="#">
              <div class="mask rgba-white-slight"></div>
            </a>
        </div>
        <div class="card-body">
          <h5 class="card-title"><%=product[0].name%></h5>
          
          <p>Price:    <%=product[0].price%> </p>
          <p>Discount: <%=product[0].discount%> </p>
          <p>Quantity: <%=product[0].quantity%> </p>
          <p>Discription:</p>
          <div class="mb-2 p-2" style=" border: 2px solid black; height: 200px;">
            <p class="card-text"><%=product[0].discription%>.</p>
        </div>
          <a href="/1" class="btn btn-primary">Back</a>
        </div>
    </div>
    </div>
  </div>
</body>
</html>